.clearfix:before,
.clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

@keyframes rotateThreeSixty {
	to {
		transform: rotate(360deg)
	}
}

@keyframes yellowFadeTech {
	to {
		background-color: transparent
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
		visibility: hidden
	}
}

#global-header,
#global-footer,
#status_message,
.pds-button,
.pds-tooltip {
	display: none!important
}

[data-product=web_widget],
#launcher,
#webWidget {
	display: none!important
}

* {
	box-shadow: none!important
}

body {
	display: initial
}

main {
	background: transparent!important
}

.client-statement-table .table-title {
	background: none;
	color: #000;
	padding-left: 0
}

.client-views-controller,
.client-estimates-controller {
	background: transparent
}

.client-document-container {
	border: none!important;
	box-shadow: none!important;
	font-size: 14px!important;
	margin: 0!important;
	padding: 0!important;
	width: 100%!important
}

.client-doc-name h1 {
	line-height: 1.1em!important;
	width: 300px!important
}

.client-doc-details table {
	width: 330px!important
}

.client-doc-details table td.label {
	width: 70px!important
}

.client-doc-address h3 {
	padding-top: 4px!important
}

.client-doc-address div {
	width: 181px!important
}

.client-doc-doc-type {
	width: 181px!important
}

.client-doc-items td {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

.client-doc-items .item-type {
	width: 70px!important
}

.client-doc-items .item-qty {
	width: 50px!important
}

.client-doc-items .item-unit-price {
	width: 75px!important
}

.client-doc-items .item-amount {
	width: 85px!important
}

#client-document.address-on-left .client-doc-for h3 {
	width: 70px!important
}

#client-document.address-on-left .client-doc-for div {
	margin-left: 80px!important
}

#client-document.address-on-left .client-doc-details table {
	width: 293px!important
}

#client-document.address-on-left .subject-address-on-left h3 {
	width: 70px!important
}

#client-document.address-on-left .subject-address-on-left div {
	margin-left: 80px!important;
	width: auto!important
}

.expenses-week-container {
	border-top-color: #000!important
}

.expenses-table {
	margin-bottom: 30px
}

.expenses-table td {
	border: 0;
	border-top: 1px solid black
}

.expenses-table tbody tr:first-child td {
	border: 0
}

.expenses-table .col-date {
	width: 7%
}

.expenses-table .col-meta {
	width: 71%
}

.expenses-table .col-amount {
	white-space: nowrap;
	width: 15%
}

.expenses-table .col-actions {
	width: 7%
}

.expenses-table .pds-button {
	background: transparent;
	border: 0;
	display: inline-block!important
}

.expenses-table .attachment {
	position: relative;
	top: 1px
}

.expenses-table .edit-entry:not(.locked) {
	visibility: hidden
}

.expenses-table .week-total strong {
	display: inline-block;
	margin-right: 5px;
	white-space: nowrap;
	width: 15%
}

.docs-controller.show-action .wrapper,
.estimates-controller.show-action .wrapper {
	padding: 0;
	width: auto
}

.weekly-controller.index-action input[type=text],
.weekly-controller.index-action input[type=email],
.weekly-controller.index-action input[type=password],
.weekly-controller.index-action textarea {
	border-color: transparent;
	box-shadow: none
}

.day-view-wrapper {
	margin: 0
}

.day-view-entry:first-child {
	border-top: 2px solid #ccc
}

.day-view-entry td {
	padding: 12px 15px
}

.day-view-entry .task {
	color: #000
}

.day-view-entry .task-notes,
.day-view-entry .end-time {
	color: #666
}

.day-view-entry p {
	margin: 0 0 10px
}

.day-view-entry p:last-child {
	margin: 0
}

.day-view-summary .pds-empty {
	border-radius: 4px;
	border-top-width: 1px
}

.day-view-total {
	border-top: 1px solid #ccc;
	padding-right: 15px
}

.day-view-total>span {
	color: inherit
}